*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
}

.evenements{
    display:flex;
}
.vignette-evenement{
    width:20%;
    min-width:200px;
    background-color: red;
    margin: 20px;
}
.vignette-evenement img{
    width:100%;
}

