{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}


<div >
    <h1>Organisation d'évenements</h1>
    <div class="evenements">
        {% for evenement in evenements %}
            <div class="vignette-evenement">
                <img src="{{ vich_uploader_asset( evenement, 'imageFile' ) }}" alt="{{ evenement.titre }}" />
                <h2>{{ evenement.titre }}</h2>
                <p>{{ evenement.date|date("d/m/Y à H:i") }}</p>
                {# <p>{{evenement.description }}</p> #}
                <a href="{{ path("evenement_show", {"id": evenement.id} ) }}">Voir l'évenement</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
